<include file="Index:header" />
<body>
<div class="header">
			<a class="f-l logo" href="index.html"><img src="__PUBLIC__/Home/images/logo.gif" width="298" height="76" alt="es网站超市" /></a>
			
			<div class="clear m"></div>
			<div id="bmenu" class="nav">
				<ul class="menu">
					<li><a class="tita" href="{:U('Index/index')}">&nbsp;&nbsp;首 页&nbsp;&nbsp;</a></li>
					<li><a class="tita" href="{:U('Index/info')}">公司介绍</a></li>
					<li><a class="tita" href="{:U('Index/service')}">产品服务</a></li>
					<li><a class="tita" href="{:U('Index/cases')}">&nbsp;&nbsp;案例&nbsp;&nbsp;</a></li>
					<li class="last current"><a class="tita" href="{:U('Index/contacts')}">联系我们</a></li>             
				</ul>
	        </div>
			<div class="m-t banner">
				<a href="#"><img src="__PUBLIC__/Home/images/banner/banner-01.jpg" width="980" height="292" alt="买一送一促销活动" /></a>
			</div>
			<div class="clear m"></div>
		</div><!--header end-->
</body>
<include file="Index:footer" />