	<include file="Index:header" />

	<body>
		<div class="header">
			<a class="f-l logo" href="index.html"><img src="__PUBLIC__/Home/images/t_logo.png" alt="es网站超市" /></a>
			
			<div class="clear m"></div>
			<div id="bmenu" class="nav">
				<ul class="menu">
					<li class="current"><a class="tita" href="{:U('Index/index')}">&nbsp;&nbsp;首 页&nbsp;&nbsp;</a></li>
					<li><a class="tita" href="{:U('Index/info')}">公司介绍</a></li>
					<li><a class="tita" href="{:U('Index/service')}">产品服务</a></li>
					<li><a class="tita" href="{:U('Index/cases')}">&nbsp;&nbsp;案例&nbsp;&nbsp;</a></li>
					<li class="last"><a class="tita" href="{:U('Index/contacts')}">联系我们</a></li>             
				</ul>
	        </div>
			<div class="clear m"></div>
		</div><!--header end-->
		<div class="main">
			<a href="#"><img src="__PUBLIC__/Home/images/banner/t_banner-01.jpg" width="980" height="292" alt="" /></a>
			<a href="#"><img src="__PUBLIC__/Home/images/banner/t_banner-02.jpg" width="980" height="292" margin-top="10px" margin-bottom="10px" alt="" /></a>
			<a href="#"><img src="__PUBLIC__/Home/images/banner/t_banner-03.jpg" width="980" height="292" alt="" /></a>
			<div class="clear m"></div>
		</div><!--main end-->
		<include file="Index:footer" />
