	<include file="Index:header" />

	<body>
		<div class="header">
			<a class="f-l logo" href="index.html"><img src="__PUBLIC__/Home/images/logo.gif" width="298" height="76" alt="es网站超市" /></a>
			
			<div class="clear m"></div>
			<div id="bmenu" class="nav">
				<ul class="menu">
					<li class="current"><a class="tita" href="{:U('Index/index')}">&nbsp;&nbsp;首 页&nbsp;&nbsp;</a></li>
					<li><a class="tita" href="{:U('Index/info')}">公司介绍</a></li>
					<li><a class="tita" href="{:U('Index/service')}">产品服务</a></li>
					<li><a class="tita" href="{:U('Index/cases')}">&nbsp;&nbsp;案例&nbsp;&nbsp;</a></li>
					<li class="last"><a class="tita" href="{:U('Index/contacts')}">联系我们</a></li>             
				</ul>
	        </div>
			<div class="m-t banner">
				<a href="#"><img src="__PUBLIC__/Home/images/banner/banner-01.jpg" width="980" height="292" alt="买一送一促销活动" /></a>
			</div>
			<div class="clear m"></div>
		</div><!--header end-->
		<div class="main">
			<div class="module">
				<div class="f-l lump span-285 mr-20">
					<h2 class="f-l title-01" title="模块建站 Module">模块建站 Module</h2><a title="更多" class="f-r more" href="#"></a>
					<div class="clear"></div>
					<div class="lump-con">
						<div class="f-l img-icon-01"></div>
						<p>适合具有一定规模 需要将前端将于3月28日发布Disc销售与后端管理系统整合对接的大型企业 品牌企业选择 为企业搭建一个强大的在线销售平台，实现在线销售产品，树立品牌形象；同时保障商城运为企业搭建一个强大的在线销售平台。接的大型企业品牌企业选择为企业搭建一个强大的在线销售平台。</p>
					</div>
				</div><!--lump end-->
				<div class="f-l lump span-285 ml-20 mr-20">
					<h2 class="f-l title-02" title="行业新闻 News">行业新闻 News</h2><a title="更多" class="f-r more" href="#"></a>
					<div class="clear"></div>
					<div class="lump-con">
						<ul>
							<li><a class="f-l" href="#">康盛创想发布绿网先锋信息安全</a><span class="f-r">2010.12.31</span></li>
							<li><a class="f-l" href="#">康盛创想发布绿网先锋信息安全</a><span class="f-r">2010.12.31</span></li>
							<li><a class="f-l" href="#">康盛创想发布绿网先锋信息安全</a><span class="f-r">2010.12.31</span></li>
							<li><a class="f-l" href="#">康盛创想发布绿网先锋信息安全</a><span class="f-r">2010.12.31</span></li>
							<li><a class="f-l" href="#">康盛创想发布绿网先锋信息安全</a><span class="f-r">2010.12.31</span></li>
							<li><a class="f-l" href="#">康盛创想发布绿网先锋信息安全</a><span class="f-r">2010.12.31</span></li>
							<li><a class="f-l" href="#">康盛创想发布绿网先锋信息安全</a><span class="f-r">2010.12.31</span></li>
						</ul>
					</div>
				</div><!--lump end-->
				<div class="f-l lump span-285 ml-20">
					<h2 class="f-l title-03" title="产品中心 Product">产品中心 Product</h2><a title="更多" class="f-r more" href="#"></a>
					<div class="clear"></div>
					<div class="lump-con">
						<div class="f-l img-icon-02"></div>
						<p>适合具有一定规模 需要将前端将于3月28日发布Disc销售与后端管理系统整合对接的大型企业 品牌企业选择 为企业搭建一个强大的在线销售平台，实现在线销售产品，树立品牌形象；同时保障商城运为企业搭建一个强大的在线销售平台。接的大型企业品牌企业选建一个强大的在线销售平台。</p>
					</div>
				</div><!--lump end-->
			</div><!--module end-->
			<div class="publicity">
				<a href="#"><img src="images/publicity-01.jpg" width="312" height="139" alt="我们了解您的需求" /></a>
				<a href="#"><img src="images/publicity-02.jpg" width="312" height="139" alt="我们保障您的需求" /></a>
				<a class="last" href="#"><img src="images/publicity-03.jpg" width="312" height="139" alt="本地化的服务网络" /></a>
			</div><!--publicity end-->
			<div class="news-service clearfix m-t">
				<div class="f-l box span-485">
					<div class="box-title"><div class="f-l corner-l"></div><h2 title="公司动态 News" class="f-l title-01">公司动态 News</h2><div class="f-r corner-r"></div></div>
					<div class="box-con news">
						<ul>
							<li><a class="f-l" href="#">未来网站技术的发展！</a><span class="f-r">2011-01-27</span></li>
							<li><a class="f-l" href="#">未来网站技术的发展！</a><span class="f-r">2011-01-27</span></li>
							<li><a class="f-l" href="#">未来网站技术的发展！</a><span class="f-r">2011-01-27</span></li>
							<li><a class="f-l" href="#">未来网站技术的发展！</a><span class="f-r">2011-01-27</span></li>
							<li><a class="f-l" href="#">未来网站技术的发展！</a><span class="f-r">2011-01-27</span></li>
							<li><a class="f-l" href="#">未来网站技术的发展！</a><span class="f-r">2011-01-27</span></li>
							<li><a class="f-l" href="#">未来网站技术的发展！</a><span class="f-r">2011-01-27</span></li>
						</ul>
					</div>
					<div class="box-btn"><div class="f-l corner-l"></div><div class="f-r corner-r"></div></div>
				</div>
				<div class="f-r box span-485">
					<div class="box-title"><div class="f-l corner-l"></div><h2 title="特色服务 Service" class="f-l title-02">特色服务 Service</h2><div class="f-r corner-r"></div></div>
					<div class="box-con service clearfix">
						<dl>
							<dt><a href="#">网站页面设计</a></dt>
							<dd>良好的网站形象能够提升企业的品牌形象，也能够立即提升业绩...</dd>
						</dl>
						<dl>
							<dt><a href="#">网站页面设计</a></dt>
							<dd>良好的网站形象能够提升企业的品牌形象，也能够立即提升业绩...</dd>
						</dl>
						<dl>
							<dt><a href="#">网站页面设计</a></dt>
							<dd>良好的网站形象能够提升企业的品牌形象，也能够立即提升业绩...</dd>
						</dl>
						<dl>
							<dt><a href="#">网站页面设计</a></dt>
							<dd>良好的网站形象能够提升企业的品牌形象，也能够立即提升业绩...</dd>
						</dl>
					</div>
					<div class="box-btn"><div class="f-l corner-l"></div><div class="f-r corner-r"></div></div>
				</div>
			</div><!--news-service end-->
			<div class="clear m"></div>
		</div><!--main end-->
		<include file="Index:footer" />
