@charset "utf-8";
/* CSS Document */

/*----------shopping3------------*/
.shopList h2 { font-size:14px; color:#5c5c5c; height:55px; line-height:55px; background:url(../images/ico-j.gif) left center no-repeat; padding-left:10px;}
.shopList thead td {height:26px; line-height:26px; font-size:12px; font-weight:900; color:#407bae; text-align:center; background:url(../images/th.gif) left top repeat-x; border-right:2px solid #FFF; border-bottom:2px solid #FFF; }
.shopList thead td.tdLast {border:none;}
.shopList tbody td {background:#f7f7f7;border-right:2px solid #FFF; border-bottom:2px solid #FFF; text-align:center; padding:10px 0;}
.shopList tbody td.tdLast {border:none;}
.shopList tbody td img {border:1px solid #999;}
.shopList tbody td a {display:inline-block; line-height:15px; padding-top:10px; color:#626262;}
.shopList tbody td strong {font-size:14px; color:#000;}
.shopList tbody td span {font-size:14px; color:#ff5800; font-weight:900;}
.shopList p {line-height:50px; font-size:16px; color:#000; font-weight:900; text-align:right;}
.shopList p span { color:#ff5800;}

.payList h2 { font-size:14px; color:#5c5c5c; height:55px; line-height:55px; background:url(../images/ico-j.gif) left center no-repeat; padding-left:10px;}
.payList thead td {height:26px; line-height:26px; font-size:12px; font-weight:900; color:#407bae; text-align:center; background:url(../images/th.gif) left top repeat-x; border-right:2px solid #FFF; border-bottom:2px solid #FFF; }
.payList thead td.tdLast {border:none;}
.payList tbody td {background:#f7f7f7;border-right:2px solid #FFF; border-bottom:2px solid #FFF; text-align:center; padding:10px 0;  vertical-align:top;}
.payList tbody td.tdLast {border-right:none;}
.payList tbody td span {font-size:12px; color:#626262;  font-weight:900;}
.payList tbody td p {text-align:left; margin:0 30px; }
.payList tbody td p a {font-size:12px; font-weight:900; color:#ff5800;}

.infoList h2 { font-size:14px; color:#5c5c5c; height:55px; line-height:55px; background:url(../images/ico-j.gif) left center no-repeat; padding-left:10px;}
.infoList table {border:1px solid #eceef0;}
.infoList td {background:#f8f9fb; border-bottom:1px solid #eceef0; line-height:35px;}
.infoList td.tdTl {text-align:right;}
.infoList td span {padding-left:15px;}
.infoList td span strong { color:#ff5800;}
.infoList td .zTxt {width:180px; height:20px;}
.infoList td .zTxtA {width:400px; height:90px; margin:5px 0;}

.allList h2 { font-size:14px; color:#5c5c5c; height:55px; line-height:55px; background:url(../images/ico-j.gif) left center no-repeat; padding-left:10px;}
.allList table {border:1px solid #eceef0;}
.allList td {background:#f8f9fb; border-bottom:1px solid #eceef0; line-height:35px; text-align:right; padding-right:30px; font-size:16px; font-weight:900;}
.allList td strong { color:#ff5800;}

.btnDiv {height:30px; line-height:30px; text-align:center;}
.subBtn {width:114px; height:29px; background:url(../images/btnSub.jpg) left top no-repeat;  border:none; text-indent:-999px;}

/*----------newsRight------------*/
.newsRight {width:220px;}
.rPartList {width:203px; border:1px solid #dddddd; margin-left:4px; border-top:none;}
.rPartList ul { border-right:1px solid #f1f1f3; padding:0 15px 20px 15px;}
.rPartList ul li {height:30px; border-bottom:1px dotted #afafaf;}
.rPartList ul li a {display:inline-block; width:61px; height:22px; margin:4px 5px 0 0; background:url(../images/ico-a.jpg) 10px center no-repeat;  line-height:22px; color:#626262; padding-left:20px;}
.rPartList ul li a:hover {background:url(../images/ico-ah.jpg) left top no-repeat; color:#FFF;}

.rAdv {padding-left:4px;}

.rNewsList {width:203px; border:1px solid #dddddd; margin-left:4px; border-top:none;}
.rNewsList p {padding:5px; line-height:21px; clear:both; height:71px; margin-bottom:5px;}
.rNewsList p img {float:left; border:1px solid #e2e2e2; margin-right:5px;}
.rNewsList ul {width:180px; border-top:1px dotted #b6b6b6; margin-left:13px; background:url(../images/ico-n.jpg) left 16px no-repeat; padding-top:10px;}
.rNewsList ul li {height:25px; line-height:25px; padding-left:25px;}


.rWord {width:203px; margin-left:4px;}
.rWordTit {height:35px; background:url(../images/rT.jpg) left top repeat-x;}
.rwtLeft {height:35px; background:url(../images/rTL.jpg) left top no-repeat;}
.rwtRight {height:35px; background:url(../images/rtH.jpg) right top no-repeat;}
.rWordTit h2 {height:35px; line-height:35px; float:left; font-size:16px; color:#123c77; padding-left:15px;}
.rWordTit a {display:block; width:23px; height:5px; background:url(../images/more.jpg) left top no-repeat; float:right; margin:15px 15px 0 0 ;}
.rWordList {background:url(../images/rWL.jpg) left top repeat-y;}
.rwlBg {background:url(../images/rWB.jpg) left bottom no-repeat; padding:15px 10px;}
.rwlBg span {padding:0 8px; display:inline-block; height:23px; line-height:23px;}
.rwlBg span.c1{ color:#ff5800;}
.rwlBg span.c2{ color:#2b76c2;}

/*----------member------------*/
.mLeft {width:205px;}
.mItem {background:url(../images/mItem.jpg) left 3px no-repeat;}
.mItem h2 {height:40px; padding-top:20px;    padding-left:30px;  line-height:40px; font-size:14px; color:#FFF;}
.mItem ul { margin-left:30px; padding-left:27px; padding-top:6px;}
.mItem ul li {height:24px; line-height:24px; color:#FFF;}
.mItem ul li a {color:#FFF; line-height:24px;}
.mItem ul li a:hover , .mItem ul li a.miCur {color:#ff7e00; line-height:24px; font-weight:600;  text-decoration:none;}
.miBack {height:35px; line-height:35px; text-align:center;}
.miBack a {display:inline-block; height:35px; width:110px; background:url(../images/mBack.jpg) left top no-repeat;}

.mRight {width:775px; background:url(../images/mRbg.jpg) left top repeat-x; margin-top:18px;}
.mRLeft {background:url(../images/mRLeft.jpg) left top no-repeat;}
.mRRight {background:url(../images/mRRight.jpg) right top no-repeat; padding:0 24px; color:#626262;}
.mRTit { height:50px; line-height:50px;}
.mRTit h2 {float:left; line-height:50px; font-size:18px; color:#02397A;}
.mRTit a {display:inline-block; width:113px; height:22px; background:url(../images/rA.jpg) left top no-repeat; float:right; margin-top:14px; line-height:22px;}
.mRTit a.fa {background:none; color:#FF7E00; font-weight:900; text-decoration:underline; width:auto;}

.cusDiv {width:490px; background:url(../images/cusBg.jpg) left top repeat-y;}
.cusDivTop {background:url(../images/cusTop.jpg) left top no-repeat;}
.cusDivBot {background:url(../images/cusBot.jpg) left bottom no-repeat;}
.cTop {border-bottom:1px solid #ccc; padding-left:10px; }
.cTop p { line-height:25px; height:25px; clear:both; }
.cTop p span {padding-right:10px; line-height:25px; display:inline-block; float:left;}
.cTop p span.pr20 {padding-right:68px;}
.cTop p span strong { color:#ff7e00;}
.cTop p a {display:inline-block; width:70px; height:25px; background:url(../images/btnC.jpg) left top no-repeat; float:left;}
.cusDiv ul {padding:0 0 0 15px;}
.cusDiv ul li { width:200px; height:21px; line-height:21px; background:url(../images/ico-j2.jpg) left center no-repeat; float:left; padding:0 20px 0 15px;}

.serDiv {width:228px;}
.mBoxTit { height:31px; background:url(../images/mTit.jpg) left top repeat-x;}
.mBoxTitL {height:31px; background:url(../images/mTL.jpg) left top no-repeat;}
.mBoxTitR {height:31px; background:url(../images/mTR.jpg) right top no-repeat;}
.mBoxTit h2 {line-height:31px; padding-left:15px; font-size:12px; color:#123C77; float:left;}
.mBoxTit h2 strong { color:#626262;}
.mBoxTit a { display:inline-block; width:23px; height:5px; background:url(../images/more.jpg) left top no-repeat; margin:13px 15px 0 0; float:right;}
.mBoxList { background:#f1f1f1; border:1px solid #d1d1d1; border-top:none;}
.serList { padding:5px 15px;}
.serList p {line-height:24px; }
.serList p span {text-decoration:underline; color:#ff7e00;}


.ordDiv {width:407px;}
.ordList { padding:10px 15px;}
.ordList p { height:27px; line-height:27px; border-bottom:1px dotted #c1c1c1; padding-left:20px; background:url(../images/ico-j3.jpg) left center no-repeat;}
.ordList p strong { color:#ff7e00;}
.ordList p span.pl {padding-left:45px;}
.ordList p span.pc { color:#ff7e00;}

.dowDiv {width:311px;}
.dowList { padding:10px 15px;}
.dowList p { height:27px; line-height:27px; border-bottom:1px dotted #c1c1c1; padding-left:20px; background:url(../images/ico-j3.jpg) left center no-repeat;}
.dowList p strong { color:#ff7e00; padding-right:10px;}
.dowList p span.pc { color:#ff7e00;}

/*----------info------------*/
.insInfo {color:#626262;}
.iLeft {width:275px;}
.iLeft td {line-height:30px;}
.iLeft td.tL{text-align:right; padding-right:15px;}
.iText {width:196px; height:19px; background:#FFF; border:1px solid #bdbdbd;}
.iBtn { width:70px; height:25px; line-height:25px; font-size:12px; color:#FFF; border:none; background:url(../images/btnS.jpg) left top no-repeat; margin-top:15px;}

.iRight {width:275px;}
.iRight td {line-height:30px;}
.iRight td.tL{text-align:right; padding-right:15px;}

/*----------order------------*/
.insOrder table { border:1px solid #cccccc;}
.insOrder table td { border:1px solid #cccccc; background:#FFF; height:37px; line-height:37px; text-align:center;}
.insOrder table th { background:#f1f1f1; height:37px; line-height:37px;  border:1px solid #cccccc; color:#031847;}
.insOrder table td a { color:#033a7b; text-decoration:underline;}
.insOrder table td strong { color:#ff7e00;}

/*----------orderDet------------*/
.tab1 table { border:1px solid #cccccc;}
.tab1 td { border:1px solid #cccccc; background:#FFF; height:37px; line-height:37px; padding-left:20px;}
.tab1 td.tdR {text-align:right; padding:0 20px; background:#f1f1f1;  color:#031847; }
.tab1 td span { color:#ff7e00;}
.tab1 td a {width:133px; padding-left:100px;}
.tab1 td span a ,.tab1 td span a:hover { color:#ff7e00; padding:0; text-decoration:underline;}

.tab2Top {height:50px; line-height:50px;}
.tab2Top h2 { line-height:50px; font-size:18px; color:#02397A; float:left;}
.tab2Top a {display:block; width:70px; height:25px; background:url(../images/btn.jpg) left top no-repeat; text-align:center; line-height:25px; color:#FFF; float:right; margin-top:12px;}
.tab2Top a:hover {text-decoration:none;}
.tab2 table { border:1px solid #cccccc;}
.tab2 table td { border:1px solid #cccccc; background:#FFF; height:37px; line-height:37px; text-align:center; color:#555555;}
.tab2 table th { background:#f1f1f1; height:37px; line-height:37px;  border:1px solid #cccccc; color:#021846; font-size:12px;  }
.tab2 table td a { color:#033a7b; text-decoration:underline;}
.tab2 table td strong { color:#ff7e00;}

.tab3 h2 { line-height:50px; font-size:18px; color:#02397A;}
.tab3 table { border:1px solid #cccccc;}
.tab3 table td { border:1px solid #cccccc; background:#FFF; height:37px; line-height:37px; text-align:right; padding-right:15px;}
.tab3 table td strong { color:#ff7e00;}
.oBtn { width:70px; height:25px; line-height:25px; font-size:12px; color:#FFF; border:none; background:url(../images/btnS.jpg) left top no-repeat;}

.tab4 h2 { line-height:50px; font-size:18px; color:#02397A;}
.tab4 table { border:1px solid #cccccc;}
.tab4 td { border:1px solid #cccccc; background:#FFF; height:37px; line-height:37px; padding-left:20px;}
.tab4 td.tdR {text-align:right; padding:0 20px; background:#f1f1f1;  color:#031847; }
.tab4 td strong { color:#ff7e00;}

/*----------invo------------*/
.insInvo p {line-height:21px; padding-bottom:10px;}
.insInvo table { border:1px solid #cccccc;}
.insInvo td { border:1px solid #cccccc; background:#FFF; height:37px; line-height:37px; padding-left:20px;}
.insInvo td.tdR { padding-left:0px; text-align:center; background:#f1f1f1;  color:#333333; }
.insInvo td strong { color:#ff7e00;}
.insInvo td span {padding-left:15px;}
.insInvo td .invText {width:228px; height:19px; background:#FFF; border:1px solid #bdbdbd;}
.insInvo td .invText2 { width:100px;}
.insInvo td .invSelect { width:100px;  height:23px; background:#FFF; border:1px solid #bdbdbd;}
.invDiv { height:30px; line-height:30px; text-align:center; padding-top:20px;}

/*----------london------------*/
.insLon table { border:1px solid #cccccc;}
.insLon table td { border-bottom:1px solid #cccccc; background:#FFF; height:37px; line-height:37px; padding:10px; color:#626262;}
.insLon table th { background:#f1f1f1; height:37px; line-height:37px;   border-bottom:1px solid #cccccc; font-weight:normal; text-align:left; padding-left:10px; color:#031847;}
.insLon table td a { color:#033a7b; text-decoration:underline;}
.insLon table th strong { color:#ff7e00;}
.insLon table th a{ color:#ff7e00; text-decoration:underline;}

/*----------faqDet------------*/
.insFaqDet table { border:1px solid #cccccc;}
.insFaqDet table td { border:1px solid #cccccc; background:#FFF; height:37px; line-height:37px; padding:10px;}
.insFaqDet table th.tdTR {text-align:right; padding-right:10px;}
.insFaqDet table th { background:#f1f1f1; height:37px; line-height:37px;   border:1px solid #cccccc; font-weight:normal; text-align:left; padding-left:10px;}
.insFaqDet table td a { color:#033a7b; text-decoration:underline;}
.insFaqDet table th strong { color:#031847;}
.insFaqDet table th a{ color:#ff7e00; text-decoration:underline;}
.insFaqDet table td p {line-height:21px;}
.insFaqDet table td p.pc { color:#ff7e00;}
.insFaqDet table td p.ti {text-indent:1em;}


/*----------funds------------*/
.insFun p {text-align:right; line-height:30px;}
.insFun p a {padding:0 5px;}
.insFun p a:hover , .insFun p a.paCur { color:#ff7e00; text-decoration:none; font-weight:900;}
.insFun .fTxt {width:228px; height:19px; background:#FFF; border:1px solid #bdbdbd;}
.insFun .fTxtA {width:400px; height:60px; background:#FFF; border:1px solid #bdbdbd; margin:10px 0;}
.insFun td p {text-align:left; padding-left:10px; line-height:21px; }
.insFun td.tdTL {text-align:left; padding-left:15px;}
.insFun td.tdTL span {padding-left:5px;}
.insFun td.pt {padding:10px 0;}
.insFun td p a {font-size:12px; font-weight:900; color:#ff5800;}
.insFun .btnDiv { text-align:center;}
.fBtn { width:70px; height:25px; line-height:25px; font-size:12px; color:#FFF; border:none; background:url(../images/btnS.jpg) left top no-repeat; margin-right:20px;}


/*----------fundsDet------------*/
.insFunDet p {text-align:right; line-height:30px;}
.insFunDet p a {padding:0 5px;}
.insFunDet p a:hover , .insFunDet p a.paCur { color:#ff7e00; text-decoration:none; font-weight:900;}
.insFunDet p span {color:#033a7b;}
.insFunDet td.tlp {text-align:left; padding-left:15px;}
.insFunDet td.trp {text-align:right; padding-right:15px;}

/*----------message------------*/
.insMess table { border:1px solid #cccccc;}
.insMess table td { border:1px solid #cccccc; background:#FFF; height:37px; line-height:37px; text-align:center; color:#555;}
.insMess table th { background:#f1f1f1; height:37px; line-height:37px;  border:1px solid #cccccc;}
.insMess table td a { color:#033a7b; text-decoration:underline;}
.insMess table td.tlp , .insMess table th.tlp { text-align:left; padding-left:15px;}
.insMess table td.tlp a , .insMess table td.tlp a:hover { color:#033a7b;}
/*----------messageDet------------*/
.insMessDet table { border:1px solid #cccccc;}
.insMessDet td { border:1px solid #cccccc; background:#FFF; height:37px; line-height:37px; padding-left:20px;}
.insMessDet td.tdR {text-align:right; text-align:center; background:#f1f1f1;  color:#031847; }
.insMessDet td strong { color:#ff7e00;}
.insMessDet td span {padding-left:15px;}
.insMessDet td .invText {width:228px; height:19px; background:#FFF; border:1px solid #bdbdbd;}
.insMessDet td .invSelect { width:170px;  height:23px; background:#FFF; border:1px solid #bdbdbd;}
.invDiv { height:30px; line-height:30px; text-align:center; padding-top:20px;}
.insMessDet td .invTextA {width:400px; height:60px; background:#FFF; border:1px solid #bdbdbd; margin:5px 0;}
.insMessDet td p {line-height:21px;}
.insMessDet td.m10 {padding-top:5px; padding-bottom:5px;}

/*----------down------------*/
.insDown li {width:140px; float:left; padding-right:55px;  height:250px;}
.insDown li.last {padding:0px; height:250px;}
.insDown li .dPic { text-align:center;}
.insDown li .dName {height:28px; line-height:28px; text-align:center; color:#626262;}
.insDown li .dList {width:140px; background:url(../images/dList.jpg) left bottom no-repeat; padding-bottom:3px;}
.insDown li .dList p { height:21px; line-height:21px; border-top:1px dotted #888888;}
.insDown li .dList p span { float:left; display:inline-block; line-height:21px;  color:#626262;}
.insDown li .dList p span strong {color:#ff7e00; font-weight:normal;}
.insDown li .dList p a {float:right; display:inline-block; width:45px; height:21px; line-height:21px; text-align:center; color:#ff7e00; border-left:1px dotted #888;}

/*----------keep------------*/
.insKeep li {width:140px; float:left; padding-right:55px;  height:230px;}
.insKeep li.last {padding:0px;}
.insKeep li .dPic { text-align:center;}
.insKeep li .dName {height:28px; line-height:28px; text-align:center;   color:#626262;}
.insKeep li .dList {width:140px; background:url(../images/dList.jpg) left bottom no-repeat; padding-bottom:3px;}
.insKeep li .dList p { height:21px; line-height:21px; border-top:1px dotted #888888;}
.insKeep li .dList p span { float:left; display:inline-block; line-height:21px;   color:#626262;}
.insKeep li .dList p span strong {color:#ff7e00; font-weight:normal;}
.insKeep li .dList p a {float:right; display:inline-block; width:45px; height:21px; line-height:21px; text-align:center; color:#ff7e00; border-left:1px dotted #888;}










